/* Variables */

:root {
    --header-background: #27cfd4;
    --header-color: #fff;
    --border-color: #fff;
    --border-hover: rgba(255, 255, 255, 0.554);
    --btn-border: #64b5f6;
    --todo-background: rgb(92, 200, 191);
    --todo-color: #fff;
    --todo-border: rgb(92, 200, 191);
}


/* Main */

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: #000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}


/* Reset */

.logo__title,
.main-header__actions,
.todo-lists__list,
.todo-lists__actions,
.todo-list__checkbox,
.todo-lists__title,
.todo-lists__aciton,
.todo-list__checkbox label,
.theme__select,
.actions__item,
.todo-form__input,
.todo-form__task {
    margin: 0;
    padding: 0;
}

.main-header__actions,
.todo-lists__list,
.todo-lists__actions {
    list-style: none;
}


/* Header  */


/* Basic styles */

.main-header {
    color: var(--header-color);
    background-color: var(--header-background);
}

.logo__title {
    font-size: 25px;
}

.theme__select {
    color: var(--header-color);
    border-color: var(--border-color);
}

.theme__select:focus {
    border-color: var(--border-hover);
}

.theme__option {
    color: #000;
}


/* Grids */

.main-header__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.theme__select {
    padding: 0 20px;
}


/* -------------------------------------- */


/* Forms */


/* Basic styles */

.todo-form .todo-form__input:focus {
    border-color: #64b5f6;
}

.todo-form .todo-form__button {
    color: var(--btn-border);
    border-color: var(--btn-border);
}


/* Grids */

.todo-form__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 40px 0;
}

.todo-form__task {
    margin-right: 10px;
    min-width: 350px;
}

.todo-form__button {
    margin: 0;
}


/* --------------------------------------- */


/* Todo List  */


/* Basic styles */

.todo-lists__item {
    background-color: var(--todo-background);
    border-radius: 20px;
    border: 1px solid var(--todo-border);
    color: var(--todo-color);
}

.todo-lists__item_done .todo-lists__title {
    text-decoration: line-through;
}

.todo-lists__title {
    font-size: 20px;
}

.todo-list__checkbox label {
    font-size: 0;
}

.todo-list__checkbox input:checked {
    cursor: pointer;
}

.todo-list__checkbox input::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 100%;
}

.white .todo-list__checkbox input::before {
    border: 1px solid rgba(0, 0, 0, 0.315);
}

.todo-list__checkbox input:checked::before {
    display: block;
    background-image: url(../img/checked.svg);
}

.todo-lists__aciton button {
    font-size: 0;
    border: none;
}

.todo-lists__aciton_edit button {
    background-color: #11eff6;
    background-image: url(../img/edit.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 10px;
    border-radius: 50%;
    max-height: 25px;
    background-size: 80%;
    background-position-x: right;
}

.todo-lists__aciton_delete button {
    background-color: #fff;
    background-image: url(../img/delete.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 10px;
    border-radius: 50%;
    max-height: 25px;
    background-size: 60%;
}

.black .todo-lists__aciton_edit button,
.white .todo-lists__aciton_edit button {
    background-color: #fff;
    background-image: url(../img/edit-black.svg);
}

.black .todo-lists__aciton_delete button,
.white .todo-lists__aciton_delete button {
    background-image: url(../img/delete-black.svg);
}


/* Grids  */

.todo-lists__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 40px;
}

.todo-list__checkbox {
    margin-right: 20px;
    height: 20px;
}

.todo-list__checkbox input {
    width: 20px;
    height: 20px;
}

.todo-lists__title {
    flex-grow: 1;
}

.todo-lists__actions {
    display: flex;
    align-items: center;
}

.todo-lists__aciton button {
    margin: 0;
}

.todo-lists__aciton_edit {
    margin-right: 10px;
}


/* ----------------------------------------------- */


/* Footer */


/* Basic styles */

.note {
    font-size: 11px;
    color: rgb(53, 52, 52);
}


/* Grids */

.todo {
    flex-grow: 1;
}

footer {
    text-align: center;
    margin-top: auto;
}


/* --------------------------------------- */


/* Media */

@media only screen and (max-width: 485px) {
    .todo-form__input {
        max-width: 280px;
        margin-bottom: 20px;
    }
}